.languageOptionContainer {
  display: flex;
  align-items: center; 
  height: 52px;
  gap:8px;
  cursor: pointer;
  margin-left: -16px;  
  margin-right: -16px;  
  padding-left: 16px;  
  padding-right: 16px;  
}

.languageOptionContainer div:last-child {
  margin-left: auto;
}

.languageOptionContainer:hover {
  background-color:  #f4f4f4;
 
}

.flagWrapper {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.languageName {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
