.languageOptionContainer {
  display: flex;
  align-items: center; 
  height: 52px;
  gap:8px;
 
}

.languageOptionContainer div:last-child {
  margin-left: auto;
}

.flagWrapper {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.languageName {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
